.border {
  position: relative;
  top: 40px;
  padding: 25px;
}

.background {
  background: rgb(7, 116, 246);
  background: radial-gradient(
    circle,
    rgba(7, 116, 246, 1) 0%,
    rgba(146, 199, 241, 1) 49%
  );
}
h4 {
  position: relative;
  left: 37px;
}

.card-text {
  text-align: center;
}

.current-city {
  position: relative;
  bottom: -25px;
  font-family: "Vollkorn", serif;
  color: white;
  font-size: 100px;
}

.current-weather-icon {
  margin-top: -85px;
  font-size: 100px;
  text-align: right;
  color: white;
}

.additional-information {
  font-weight: 400;
  font-size: 13px;
  color: grey;
  text-align: left;
  margin: 5px;
  line-height: 0.5;
}

.search-container {
  text-align: center;
}
